Una tupla, antes que todo, es una estructura de datos. Una colecci√≥n de datos que permite agruparlos y provee operaciones para accederlos. 

Una tupla permite: 
agrupar datos de distintos tipos, de manera ordenada, esto significa que cada elemento tiene una posicion determinada dentro de la estructura
Acceder de manera eficiente a cada elemento a partir de su posicion

las tuplas se declaran con parentesis normales tupla=tuple()

my_tupla()

In [3]:
my_tupla=tuple()
print(my_tupla)
print(type(my_tupla))

()
<class 'tuple'>

###############################################################################################################################

podemos inicializarla DIRECTAMENTE con VALORES

###############################################################################################################################

In [4]:
my_tupla=("esto","es una","tupla")
print(my_tupla)

('esto', 'es una', 'tupla')

Una tupla llamada mezcla, que contiene elementos de tipo str, int y float.

In [7]:
mezcla = ('Chile', 8, 4.15, 'Abril')
print(mezcla)

('Chile', 8, 4.15, 'Abril')

Tuplas que incluyan listas, como la tupla sublista, o que incluya tuplas, como la tupla subtupla

In [9]:
sublista = (15, ['Rancagua', 9], 'Febrero')
subtupla = (15, ('Rancagua', 9), 'Febrero')
print(f"esta tupla contiene listas internas: {sublista}")
print(f"esta suple contiene subtuplas internas: {subtupla}")

esta tupla contiene listas internas: (15, ['Rancagua', 9], 'Febrero')
esta suple contiene subtuplas internas: (15, ('Rancagua', 9), 'Febrero')

#############################################################################################################################


podemos juntar TUPLAS, por ejemplos 2 tuplas se juntan con el operador +

#############################################################################################################################

In [11]:
primavera = ('Septiembre', 'Octubre', 'Noviembre')
verano = ('Diciembre', 'Enero', 'Febrero')
calor = primavera + verano

print(f"estas tuplas fueron unidas: {calor}")

estas tuplas fueron unidas: ('Septiembre', 'Octubre', 'Noviembre', 'Diciembre', 'Enero', 'Febrero')

De la misma manera podemos utilizar el operador * para concatenar una tupla consigo misma una cantidad entera 
de veces, y obtener una nueva tupla que repita sus contenidos.

In [13]:
verano = ('Diciembre', 'Enero', 'Febrero')
caluroso=verano*2
print(f"esta tupla fue multiplicada por 2: {caluroso}\n solo tenia los 3 primeros elementos")

esta tupla fue multiplicada por 2: ('Diciembre', 'Enero', 'Febrero', 'Diciembre', 'Enero', 'Febrero')
 solo tenia los 3 primeros elementos